.form_container {
  background-color: #131324;
}
.form_bg {
  background-color: rgb(10, 10, 19);
}
.logo {
  height: 5rem;
}
.input {
  border-color: #4e0eff;
  padding: 0.9rem;
  font-size: 1rem;
  transition: 0.2s;
}
.input:focus {
  border-color: #997af0;
  outline: none;
  transition: 0.2s;
}
.login_btn {
  background-color: #4e0eff;
  padding: 1rem 2rem;
}
.link {
  color: #4e0eff;
}
